<?xml version="1.0"?>
<config>
    <modules>
        <Pas_Responsys>
            <version>0.2.3</version>
        </Pas_Responsys>
    </modules>
    <global>
        <models>
            <responsys>
                <class>Pas_Responsys_Model</class>
                <resourceModel>responsys_resource</resourceModel>
            </responsys>
            <responsys_resource>
                <class>Pas_Responsys_Model_Resource</class>
            </responsys_resource>
            <customer>
                <rewrite>
                    <customer>Pas_Responsys_Model_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <resources>
            <responsys_customer_setup>
                <setup>
                    <module>Pas_Responsys</module>
                    <class>Pas_Responsys_Model_Resource_Customer_Setup</class>
                </setup>
            </responsys_customer_setup>
        </resources>
        <helpers>
            <responsys>
                <class>Pas_Responsys_Helper</class>
            </responsys>
        </helpers>
        <events>
            <responsys_new_customer>
                <observers>
                    <responsys>
                        <type>singleton</type>
                        <class>responsys/observer</class>
                        <method>newCustomer</method>
                    </responsys>
                </observers>
            </responsys_new_customer>
            <customer_import_finish_before>
                <observers>
                    <responsys>
                        <type>singleton</type>
                        <class>responsys/observer</class>
                        <method>importFinished</method>
                    </responsys>
                </observers>
            </customer_import_finish_before>
        </events>
    </global>
    <crontab>
        <jobs>
            <responsys_cron>
                <schedule>
                    <!-- Every 5 minutes -->
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>responsys/observer::runCron</model>
                </run>
            </responsys_cron>
        </jobs>
    </crontab>
</config>